/.vs
OrderProcessing/OrderProcessing (Package)/OrderProcessing (Package).assets.cache


/OrderProcessing/OrderProcessing (Package)/bin
/OrderProcessing/OrderProcessing (Package)/obj
/OrderProcessing/OrderProcessing/bin
/OrderProcessing/OrderProcessing/obj
/Model/bin
/Model/obj
/OrderProcessing_MAUI/bin
/OrderProcessing_MAUI/obj
/OrderProcessing_MAUIHybrid/bin
/OrderProcessing_MAUIHybrid/obj
/VIewModel/bin
/VIewModel/obj
/WebAPI_DB/bin
/WebAPI_DB/obj
/OrderProcessing_WinUI/bin/
/OrderProcessing_WinUI/obj/
/OrderProcessingWPF/bin
/OrderProcessingWPF/obj
