
/OrderProcessing/OrderProcessing (Package)/bin
/OrderProcessing/OrderProcessing (Package)/obj
/OrderProcessing/OrderProcessing/bin
/OrderProcessing/OrderProcessing/obj
/.vs
OrderProcessing/OrderProcessing (Package)/OrderProcessing (Package).assets.cache
