<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrderProcessingWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrderProcessingWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OrderProcessingWPF.Properties.Settings>
            <setting name="LicenseServer" serializeAs="String">
                <value>https://localhost:7015/License/</value>
            </setting>
        </OrderProcessingWPF.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <OrderProcessingWPF.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>RohanDeore</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>Segen</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>OrderProcessing</value>
            </setting>
        </OrderProcessingWPF.Properties.Settings>
    </userSettings>
</configuration>